/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"); */
:root {
  --main-bg-color: hsl(211, 97%, 13%);
  --title-font-size: 64px;
  --title-margin: 10px;
  --button-width: 204px;
  --button-height: 204px;
  --button-border-width: 16px;
  --button-margin: 16px;
  --flash-box-shadow-width: 16px;
  --total-button-size: calc(
    var(--button-width) * 2 + var(--button-border-width) + var(--button-margin)
  );
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.simonGameBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#levelTitle,
.howToPlayTip {
  font-family: "Press Start 2P", cursive;
  font-size: var(--title-font-size);
  color: white;
}

.howToPlayTip {
  font-size: 16px;
  margin: var(--title-margin);
}

.buttonsBox {
  /* max-width: var(--button-box-max-width); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.btn {
  margin: var(--button-margin);
  display: inline-block;
  height: var(--button-height);
  width: var(--button-width);
  border: var(--button-border-width) solid black;
  border-radius: 20%;
}
.btn.red {
  background-color: red;
}
.btn.blue {
  background-color: blue;
}
.btn.yellow {
  background-color: yellow;
}
.btn.green {
  background-color: green;
}

.btn.buttonFlash {
  animation: flash 0.4s;
}

.buttonClicked {
  background-color: grey;
  box-shadow: 0 0 var(--flash-box-shadow-width) white;
}

.gameOverFlashScreen {
  background-color: red;
  opacity: 0.8;
}

.startBtn {
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  border: 2px solid black;
  color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, red, blue, green, yellow);
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 500ms;
}

.startBtn:hover,
.startBtn:focus {
  /* outline: none; */
  color: white;
  box-shadow: 0 0 10px blue;
}

.startBtn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: calc(20px - 4px);
  background-color: var(--main-bg-color);
  transition: 200ms;
}

.startBtn:hover::before,
.startBtn:focus::before {
  width: 100%;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  :root {
    --button-width: 150px;
    --button-height: 150px;
    --button-border-width: 10px;
    --button-margin: 10px;
  }
}
